body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/168/912/original/recipe.jpg?1750768999);
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #17550a;
}
.container {
  margin: 128px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
}
.form-container {
  background-color: white;
  margin-bottom: 30px;
  padding: 15px 20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  border-radius: 58px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #71be75;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  padding: 14px 24px;
  border-radius: 50px;
}
.recipe {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #71be75;
  border-radius: 10px;
  box-shadow: 0px 4px 38px 0px rgba(39, 33, 66, 0.03);
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}
